<div class = "sign">    
  <form action="/" method="POST">
  <div class="imgcontainer">
    <img src="/img/logo.jpg" style = "width:50% "alt="logo">
  </div>
  <div class="line">
  <div class="outer">
    <div class="heading">
      <h2> Sign-In</h2>
    </div>

    <div class="email">    
    <label for="email"><b>Email</b></label> <br>
    <input type="text" id="email" placeholder="ex) abcd@myseneca.ca" name="email">
    </div>

    <div class="pass">
    <label for="psw"><b>Password</b></label><br>
    <input type="password" id= "password"placeholder="At least 6 charactors" name="password">
    <p><a href="#" style="text-decoration:none">&iscr;</a>  Passwords must consist of at least 6 charactors </p>
    </div>

    <br>

    <a href="#" class = "link" style="text-decoration:none">&blacktriangleright; Need help?</a>
    </div>
</div>
<br>
 
  <div class = "new"> 
    <hr  color="lightgrey">
     <p class = "text"> New to Amazon?</p>
     </div>

  <button> <a href="/registration" style="text-decoration: none; color:black;">Create your Amazon account</a></button>
  </div>
  </div>
</form>
</div>

