<div class="sign">
<form action="/" method="POST">
 <div class="imgcontainer">
    <img src="/img/logo.jpg" style="width: 50%;" alt="logo" class="amaz">
  </div>
  <div class="line">
    <div class="outer">

      <div class="heading">
        <h2>Create account</h2>
      </div>

    <div class= "name" >
      <label for="name"><b>Your Name</b></label><br>
      <input type="text" placeholder="Enter Name" name="name" >
    </div>

    <div class="email"> 
      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" name="email" >
    </div>

    <div class="pass">
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="At least 6 charactors" name="psw" >
      <p><a href="#" style="text-decoration:none">&iscr;</a>  Passwords must consist of at least 6 charactors </p><br>
    </div>

    <div class="pswR">
      <label for="psw-repeat"><b>Repeat Password</b></label><br>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" ><br><br>
    </div>
    
    <div>
    <button type="submit" class="registerbtn">Create your Amazon account</button>
    <br>
    <p>By creating an account you agree to Amazon's <a href="#" style="text-decoration:none">Condition of use</a> 
      and <a href="#" style="text-decoration:none">Privacy Notice</a></p>
    <br>
    </div>
    <div>
      <hr  color="lightgrey">
    <p>Already have an account? <a href="/login" style="text-decoration:none">Sign in</a>.</p>
    </div>
    </div>
    </div>
</form>
</div>